.list{ padding: 0; }
.list li{ display: block; height: 80px; border-bottom: solid 1px #ccc; clear: both; }
.list li .pic,
.list li h2,
.list li p{ float: left; line-height: 80px; }
.list li .action{ float: right; line-height: 80px; }
.list li .pic img{ display: block; margin-top: 15px; width: 50px; height: 50px; }
.list li h2{ margin: 0; padding-left: 20px; }
.list li p{ padding-left: 20px; }