include common/header 
.jumbotron
    .container
        h1 您好！
        p ...
        p
            a.btn.btn-success.btn-lg(role="button") 点击查看
main#content(role="main")
    .container
        h2 24小时热榜
        .row
            .col-md-4
                ul.list
                    li.list-hd
                        h3
                            a(href="category.html") 女明星榜单
                        .action
                            button.btn.btn-success.btn-xs(type="button")
                                span.glyphicon.glyphicon-star
                            .btn-group
                                button.btn.btn-default.btn-xs.dropdown-toggle(type="button",data-toggle="dropdown")
                                    | 分享
                                    span.caret
                                ul.dropdown-menu.share
                                    li
                                        a(href="#") 新浪微博
                                    li
                                        a(href="#") QQ空间
                                    li
                                        a(href="#") 腾讯微博
                                    li
                                        a(href="#") 人人网
                    li
                        .pic
                            a(href="#")
                                img.img-circle(src="/img/pic.jpg")
                        h4
                            a(href="detail.html") 苍井空
                        .action
                            button.btn.btn-primary.btn-xs(type="buton")
                                span.glyphicon.glyphicon-thumbs-up
                            span.badge 42
                    li
                        .pic
                            a(href="#")
                                img.img-circle(src="/img/pic.jpg")
                        h4
                            a(href="detail.html") 苍井空
                        .action
                            button.btn.btn-primary.btn-xs(type="buton")
                                span.glyphicon.glyphicon-thumbs-up
                            span.badge 42
            .col-md-4
                ul.list
                    li.list-hd
                        h3
                            a(href="category.html") 女明星榜单
                        .action
                            button.btn.btn-success.btn-xs(type="button")
                                span.glyphicon.glyphicon-star
                            .btn-group
                                button.btn.btn-default.btn-xs.dropdown-toggle(type="button",data-toggle="dropdown")
                                    | 分享
                                    span.caret
                                ul.dropdown-menu.share
                                    li
                                        a(href="#") 新浪微博
                                    li
                                        a(href="#") QQ空间
                                    li
                                        a(href="#") 腾讯微博
                                    li
                                        a(href="#") 人人网
                    li
                        .pic
                            a(href="#")
                                img.img-circle(src="/img/pic.jpg")
                        h4
                            a(href="detail.html") 苍井空
                        .action
                            button.btn.btn-primary.btn-xs(type="buton")
                                span.glyphicon.glyphicon-thumbs-up
                            span.badge 42
                    li
                        .pic
                            a(href="#")
                                img.img-circle(src="/img/pic.jpg")
                        h4
                            a(href="detail.html") 苍井空
                        .action
                            button.btn.btn-primary.btn-xs(type="buton")
                                span.glyphicon.glyphicon-thumbs-up
                            span.badge 42
            .col-md-4
                ul.list
                    li.list-hd
                        h3
                            a(href="category.html") 女明星榜单
                        .action
                            button.btn.btn-success.btn-xs(type="button")
                                span.glyphicon.glyphicon-star
                            .btn-group
                                button.btn.btn-default.btn-xs.dropdown-toggle(type="button",data-toggle="dropdown")
                                    | 分享
                                    span.caret
                                ul.dropdown-menu.share
                                    li
                                        a(href="#") 新浪微博
                                    li
                                        a(href="#") QQ空间
                                    li
                                        a(href="#") 腾讯微博
                                    li
                                        a(href="#") 人人网
                    li
                        .pic
                            a(href="#")
                                img.img-circle(src="/img/pic.jpg")
                        h4
                            a(href="detail.html") 苍井空
                        .action
                            button.btn.btn-primary.btn-xs(type="buton")
                                span.glyphicon.glyphicon-thumbs-up
                            span.badge 42
                    li
                        .pic
                            a(href="#")
                                img.img-circle(src="/img/pic.jpg")
                        h4
                            a(href="detail.html") 苍井空
                        .action
                            button.btn.btn-primary.btn-xs(type="buton")
                                span.glyphicon.glyphicon-thumbs-up
                            span.badge 42
include common/footer 