footer.bs-footer(role="contentinfo")
    .container
        ul.footer-links
            li 当前版本：v1.0.2
            li.muted &middot;
            li
                a(href="http://www.fanslist.cn/") FansList
            li.muted &middot;
            li
                a(href="http://www.nodecms.com/") NodeCMS
            li.muted &middot;
            li
                a(href="http://www.beianbeian.com/") 京ICP备11046102号
script(src="/js/jquery.min.js")
script(src="/js/bootstrap.min.js")